@page
@model AutoWorkshopWeb.Pages.Orders.IndexModel

<h1>Замовлення</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Створити замовлення</a>
</p>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Авто</th>
        <th>Клієнт</th>
        <th>Послуга</th>
        <th>Кількість</th>
        <th>Дата</th>
        <th>Статус</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var o in Model.OrderList)
    {
        <tr>
            <td>@o.Car?.LicensePlate</td>
            <td>@o.Car?.Client?.FullName</td>
            <td>@o.Service?.Name</td>
            <td>@o.Quantity</td>
            <td>@o.OrderDate.ToShortDateString()</td>
            <td>@o.Status</td>
            <td>
                <a asp-page="Edit" asp-route-id="@o.OrderId">Edit</a> |
                <a asp-page="Details" asp-route-id="@o.OrderId">Details</a> |
                <a asp-page="Delete" asp-route-id="@o.OrderId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>