@page "{id:int}"
@model AutoWorkshopWeb.Pages.Cars.DetailsModel

<h1>Інформація про авто</h1>

<dl class="row">
    <dt class="col-sm-2">Номер</dt>
    <dd class="col-sm-10">@Model.Car?.LicensePlate</dd>

    <dt class="col-sm-2">Марка</dt>
    <dd class="col-sm-10">@Model.Car?.Brand</dd>

    <dt class="col-sm-2">Модель</dt>
    <dd class="col-sm-10">@Model.Car?.Model</dd>

    <dt class="col-sm-2">Рік</dt>
    <dd class="col-sm-10">@Model.Car?.Year</dd>

    <dt class="col-sm-2">Клієнт</dt>
    <dd class="col-sm-10">@Model.Car?.Client?.FullName</dd>
</dl>

<a asp-page="Edit" asp-route-id="@Model.Car?.CarId" class="btn btn-primary">Редагувати</a>
<a asp-page="Index" class="btn btn-secondary">Назад</a>